/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#wrapper {
background-color: #485874;
width: 960px;
margin-left: auto;
margin-right: auto;
}

#header {
height: 70px;
line-height: 20px;
}

#menu {
height: 86px;
line-height: 20px;
width: 362px;
float: left;
text-align: right;
}

#menu ul{
padding-top: 31px;
padding-left: 0px;
padding-right: 31px;
margin: 0px;
}

li {
display: inline;
}

#menu a{
color: #CBACA7;
text-align: right;
font-size: 20px;
font-family: 'Exo 2', sans-serif;
padding-top: 43px;
}

#logo {
width: 588px;
float: left;
margin-top: 0px;
margin-left: 5px;
}

#logo img{
height: 86px;
width: 86px;
}

#banner {
clear: both;
margin-left: auto;
margin-right: auto;
background-image: url(https://web.njit.edu/~adm52/final-project/src/img/banner.jpg);
background-repeat: no-repeat;
height: 380px;
background-size: 100% 100%;
width: 960px;
background-repeat: no-repeat;
margin-top: inherit;
}

#banner h1{
color: white;
margin: 0px;
padding: 0px;
font-family: 'Exo 2', sans-serif;
text-align: left;
padding-top: 150px;
}

#feature1 {
float: left;
width: 296.5px;
height: 66px;
}

#feature2 {
float: left;
width: 296.5px;
height: 66px;
}

#feature3 {
float: right;
width: 367px;
text-align: center;
height: 66px;
}

#feature1 h5{
margin:0px;
width: 165px;
color: #8B9EC1;
}

#feature1 p{
color:white;
}

#feature2 h5{
margin:0px;
width: 134px;
color: #8B9EC1;
}

#feature2 p {
color: white;
}

#feature3 h5{
margin:0px;
width: 187px;
font-family: 'Exo 2', sans-serif;
color: #8B9EC1;
position: right;
}

#feature3 a{
color: #CBACA7;
font-size: medium;
}

#footer {
background-color: #8B9EC1;
clear: both;
text-align: center;
font-family: 'Exo 2', sans-serif;
height: 20px;
color: white;
}

#contactpageform {
text-align: center;
}

#contactpage h1{
font-family: 'Exo 2', sans-serif;
font-size: 20px;
text-align: center;
}

#bannerAbout {
background-image: url(https://web.njit.edu/~adm52/final-project/src/img/vr.jpg);
width: 367px;
height: 593px;
background-size: 100% 100%;
float: left;
}

#featureAbout {
float: left;
width: 545px;
padding-left: 24px;
padding-right: 24px;
}

#bannerAbout h1 {
font-family: 'Exo 2', sans-serif;
font-size: 20px;
color: #8B9EC1;
text-align: center;
}

#featureAbout h1 {
font-family: 'Exo 2', sans-serif;
font-size: 28px;
color: #8B9EC1;
}

#featureAbout p{
font-family: 'Roboto Slab', serif;
font-size: 19px;
line-height: 28px;
}

#fonts
h1,h2, h3, h5 {
font-family: 'Exo 2', sans-serif;
font-size: 20px;
}

h1 {
font-size:200%;
}

h2 {
font-size: 180%;
}

h3 {
font-size: 160%;
margin: 0px;
}

h4 {
font-size: 140%;
margin: 0px;
font-family: 'Roboto Slab', serif;
}

h5 { 
font-size: 120%;
margin: 0px;
}

h6 {
font-size: 100%;
}

p,h6 {
font-family: 'Roboto Slab', serif;
font-size: 12px;
margin: 0px;
}


















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    p:first-letter,
    div:first-letter,
    blockquote:first-letter,
    li:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
